/* CSS declarations go here */

/* Global Style */

h8{
	font-size: 0.8em;

}


/* NavBar Style */
.account-box{
	padding-top: 100px;
	padding-bottom: 3px;
}


/* Box MindMap Style */

body{

	background: #ddd;
	z-index: 1;
}




/* Line MindMap Style */


/* Drag&Drop Style */

.placeholder{
	outline: 1px dashed #4183C4;
	width: 100px;
	height: 50px;
}

.ui-sortable-helper .ui-sortable-handle::before,.ui-sortable-helper .ui-sortable-handle::after{
	display: none;
}






	
		.paper .row{
			margin-bottom: 5px;
		}

		.project-description-label{
			margin-top: 1rem;
		}

		.account-box{
			padding-top: 100px;
			padding-bottom: 3px;
		}
		
		
		.sortable > .cont-right:first-child > .content::after{
			display: none;
			
		}

	
		.ui-sortable-helper .attributes{
			display: none;
		}



		.ahs-table .mdi-navigation-arrow-drop-down{
			top: -7px;
			font-size: 20px;

		}


		.ahs-table .select-wrapper input.select-dropdown,.ahs-table input.small{
			height: 1.3rem;
			line-height: 1rem;
			font-size: 1rem;
			text-align: right;
		}

		.ahs-table td, .ahs-table th{
			padding: 5px 20px;
		}

		.ahs-table input.small{
			margin-bottom: 19px;
		}

		.ahs-index{
			text-align: center !important;
		}

		.ahs-nama{
			text-align: left !important;
		}


		.ahs .input-field label{
			left: 0 !important;
		}

		h5 span{
			font-size: 1rem;
			font-style: italic;
			color: blue;
			margin-left: 0.7rem;

		}


/* hide/show button*/

		.paper .btn-flat{
			padding: 0;
		}