/* CSS declarations go here */

/* Global Style */

h8{
	font-size: 0.8em;

}


/* NavBar Style */
.account-box{
	padding-top: 100px;
	padding-bottom: 3px;
}



body{

	background: #fff;
	z-index: 1;
}

#project-table{
	padding: 0
}




/* hide/show button*/

		.paper .btn-flat{
			padding: 0;
		}